@use "sass:math";
@use "sass:list";
@use "sass:color";
@use "sass:map";
@use "../utils/functions" as *;

//################################################################################################################
//
//   UTILITY MIXINS
//
//################################################################################################################

//===============================================================================================================
// GRIDS
//===============================================================================================================

//------------------------------------------------------------------------------------------
// Set break point mixin
//------------------------------------------------------------------------------------------
@mixin bp($bp-min-size: false, $bp-max-size: false) {
  $min-size: false;
  $max-size: false;

  @if($bp-min-size  !=false) {
    $min-size: get-bp($bp-min-size);
  }

  @if($bp-max-size  !=false) {
    $max-size: get-bp($bp-max-size);
  }

  @if $min-size and $max-size {
    @media screen and (min-width: $min-size) and (max-width: #{$max-size}) {
      @content;
    }
  }

  @else if $min-size {
    @media screen and (min-width: $min-size) {
      @content;
    }
  }

  @else if $max-size {
    @media screen and (max-width: #{$max-size}) {
      @content;
    }
  }

  @else {
    @content;
  }
}

//===============================================================================================================
// ASPECT RATIOS
//===============================================================================================================

//------------------------------------------------------------------------------------------
// Set aspect ratios
//------------------------------------------------------------------------------------------

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}